.view-container{
  /*height: 70vh;*/
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  /*background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  /*background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  /*background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}

:host{
  color: green;
  /*background-color: black;*/
  /*width:93% !important;*/
  background: #fff url("../app/media/Lexmark_PowerPointTemplate_Confidential_4x3_001.jpg") no-repeat center center !important;
  background-size: 100% 100% !important;
  overflow-y:hidden;
  height:78vh;
  font-size: 1.5em;
}

